.hand {
    height: 96px;
}

[class*= 'card_'] {
    width: 71px;
    height: 96px;
    background-image: url(../../CardLibrary/Images/cards.png);
    background-repeat: no-repeat;
    float: left;
}

.card_Joker { background-position: -949px 0px; }
.card_Back { background-position: -949px -98px; }
.card_None { background-position: -949px -294px; }

.card_AC { background-position:    0px 0px; }
.card_2C { background-position:  -73px 0px; }
.card_3C { background-position: -146px 0px; }
.card_4C { background-position: -219px 0px; }
.card_5C { background-position: -292px 0px; }
.card_6C { background-position: -365px 0px; }
.card_7C { background-position: -438px 0px; }
.card_8C { background-position: -511px 0px; }
.card_9C { background-position: -584px 0px; }
.card_TC { background-position: -657px 0px; }
.card_JC { background-position: -730px 0px; }
.card_QC { background-position: -803px 0px; }
.card_KC { background-position: -876px 0px; }

.card_AS { background-position:    0px -98px; }
.card_2S { background-position:  -73px -98px; }
.card_3S { background-position: -146px -98px; }
.card_4S { background-position: -219px -98px; }
.card_5S { background-position: -292px -98px; }
.card_6S { background-position: -365px -98px; }
.card_7S { background-position: -438px -98px; }
.card_8S { background-position: -511px -98px; }
.card_9S { background-position: -584px -98px; }
.card_TS { background-position: -657px -98px; }
.card_JS { background-position: -730px -98px; }
.card_QS { background-position: -803px -98px; }
.card_KS { background-position: -876px -98px; }

.card_AH { background-position:    0px -196px; }
.card_2H { background-position:  -73px -196px; }
.card_3H { background-position: -146px -196px; }
.card_4H { background-position: -219px -196px; }
.card_5H { background-position: -292px -196px; }
.card_6H { background-position: -365px -196px; }
.card_7H { background-position: -438px -196px; }
.card_8H { background-position: -511px -196px; }
.card_9H { background-position: -584px -196px; }
.card_TH { background-position: -657px -196px; }
.card_JH { background-position: -730px -196px; }
.card_QH { background-position: -803px -196px; }
.card_KH { background-position: -876px -196px; }

.card_AD { background-position:    0px -294px; }
.card_2D { background-position:  -73px -294px; }
.card_3D { background-position: -146px -294px; }
.card_4D { background-position: -219px -294px; }
.card_5D { background-position: -292px -294px; }
.card_6D { background-position: -365px -294px; }
.card_7D { background-position: -438px -294px; }
.card_8D { background-position: -511px -294px; }
.card_9D { background-position: -584px -294px; }
.card_TD { background-position: -657px -294px; }
.card_JD { background-position: -730px -294px; }
.card_QD { background-position: -803px -294px; }
.card_KD { background-position: -876px -294px; }